:root{
    --color-verde:#006E8C;
    --color-verde-oscuro:#004f64;
    --color-morado:#6334E3;
    --color-morado-oscuro:#46279b;
    --h1-font-size: 50px;
    --h2-font-size: 42px;
    --h3-font-size:18px;
    --p-font-size:16px;
    --font-family:"poppins";
    --color-ligth-gray:#789395;
    --color-dark-gray:#525E75;
    --heigth-button-1:35px;
    --nav-bar-height:10vh;
    --gradient:linear-gradient(45deg, #49a09d, #5f2c82)
}
