@import url("Const.css");


.nabvar_contianer{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-bar-height);
    font-family: var(--font-family);
    padding: 0 60px;
}

.nabvar_contianer>img{
    height: var(--nav-bar-height);
    width: auto;

}

.navbar{

    width: 80%;
}

    .navbar>ul{
        /* background: green; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: var(--nav-bar-height);
        gap: 30px;

        }

        .navbar>ul>li{
            text-decoration: none;
            width: 160px;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--h3-font-size) ;
            transition: 0.3s ease;
            border-radius: 4px;
        }
        
        .active,.no_active{
        transition: 0.5s ease-in-out;
        border-radius: 4px;
        height: 90%;
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-font);
        box-shadow: inset 0 0 0 0 rgba(206, 150, 241, 0.263);;
        
        
    }
    .no_active:hover{
        /* background: var(--hover-background); */
        /* transform: translateY(-5px); */
        cursor: pointer;
        box-shadow: inset 160px 0 0 0 rgba(206, 150, 241, 0.263);

    }
    
    
    .active{
        border-bottom: 3px solid var(--color-morado-oscuro);
        background-color: var(--neg-background);
        color: var(--neg-color-font);

    }
    
    .no_active{
        background-color: rgba(206, 150, 241, 0.263);
}

.btn_salir{
    border: none;
    background-color: var(--color-morado);
    padding: 20px;
    width: 120px;
    border-radius: 10px;
    color: #fff;
    font-size: var(--p-font-size)  ;
    transition: 0.5s ease-in-out;
    box-shadow: inset 120px 0 0 0 0 rgba(183, 95, 238, 0.701) ;

}
    .btn_salir:hover{
        /* background-color: var(--color-morado-oscuro);
        transform: translateY(-5px); */
        cursor: pointer;
        box-shadow: inset 120px 0 0 0 rgba(183, 95, 238, 0.701) ;
    }

.horizontal{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: var(--horizontal)
    
}