@import url("Const.css");


.nabvar_contianer{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-bar-height);
    font-family: var(--font-family);
    padding: 0 60px;
}

.nabvar_contianer>img{
    height: var(--nav-bar-height);
    width: auto;

}

.navbar{

    width: 80%;
}

    .navbar>ul{
        /* background: green; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: var(--nav-bar-height);
        gap: 20px;

        }

        .navbar>ul>li{
            text-decoration: none;
            width: 150px;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease;
            border-radius: 4px;
        }
        
        .active,.no_active{
        transition: 0.5s ease-in-out;
        border-radius: 4px;
        height: 90%;
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-font);
        box-shadow: inset 0 0 0 0 rgba(188, 118, 232, 0.47);
        font-weight: 400;
        
        
    }
    .no_active:hover{
        /* background: var(--hover-background); */
        /* transform: translateY(-5px); */
        cursor: pointer;
        box-shadow: inset 150px 0 0 0 rgba(188, 118, 232, 0.47);
        font-size: 1.1rem ;

    }
    
    
    .active{
        /* border-bottom: 3px solid var(--color-morado-oscuro); */
        background-color: var(--neg-background);
        color: var(--neg-color-font);

    }
    
    .no_active{
        background-color: rgba(206, 153, 239, 0.327);
}

.btn_salir{
    border: none;
    background-color: var(--color-morado);
    padding: 10px;
    width: 120px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem ;
    transition: 0.5s ease-in-out;
    box-shadow: inset 120px 0 0 0 0 rgba(183, 95, 238, 0.701) ;
    height: 50%;

}
    .btn_salir:hover{
        cursor: pointer;
        box-shadow: inset 120px 0 0 0 rgba(183, 95, 238, 0.701) ;
        font-size: 1.1rem ;
    }

.horizontal{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: var(--horizontal)
    
}


@media(max-width:500px){

    
    .nabvar_contianer{
        height: 100vh;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        /* background: black; */
        width: 0vw;
    }
    .nabvar_contianer>img{
        /* display: none; */
        position: absolute;
        top: 10px;
        left: 5px;
        height: 60px;
        z-index: 999;
    
    }
    .navbar{
        background-color: var(--background);
        height: 100vh;
        width: 100vw;
        transition: 0.3s ease-in-out;
        z-index: 99;
        position: absolute;
    }
    .navbar>ul{
        height: 100%;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        }

        .navbar>ul>li,.btn_salir{
            /* background: yellow; */
            height: 8vh;
            width: 100vw;
        }

        .active,.no_active{
            border-radius: 0;
        }   
        .no_active:hover{
            box-shadow: none;
        }

        .horizontal{
            display: none;
            
        }

        .toggle_class{
            transform: translateX(-550px);
            background: purple;
            height: 100vh;
        }
        .toggle_class > .nabvar_contianer{
            background: purple;
        }
        
    




}