@import url("Const.css");


.nabvar_contianer{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-bar-height);
    font-family: var(--font-family);
    padding: 0 60px;
}

.nabvar_contianer>img{
    height: var(--nav-bar-height);
    width: auto;
    /* margin-left: 100px; */
    /* background: purple; */
    

}

.navbar{
    /* background: yellow; */
    width: 80%;
}

    .navbar>ul{
        /* background: green; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: var(--nav-bar-height);
        gap: 30px;

        }

        .navbar>ul>li{
            /* background: purple; */
            /* color: #fff; */
            text-decoration: none;
            width: 160px;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--h3-font-size) ;
            transition: 0.3s ease;
            border-radius: 10px;
        }
        
        .active,.no_active{
            transition: 0.3s ease;
        border-radius: 10px;
        height: 90%;
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-dark-gray);
        
    }
    .no_active:hover{
        background: rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }
    
    
    .active{
        border-bottom: 3px solid var(--color-morado-oscuro);
        background-color: #fff;

    }
    
    .no_active{
        background-color: rgba(0, 0, 0, 0.08);
}

.btn_salir{
    border: none;
    background-color: var(--color-morado);
    padding: 20px;
    width: 120px;
    border-radius: 10px;
    color: #fff;
    font-size: var(--p-font-size)  ;
    transition: 0.3s ease;

}
    .btn_salir:hover{
        background-color: var(--color-morado-oscuro);
        transform: translateY(-5px);
    }

.horizontal{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
}