@import url("Const.css");

.page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: var(--font-family);
    height: 100vh;
    width: 100vw;
    
}

    .page_container>h1{
        /* background-color: red; */
        font-size: var(--h1-font-size);
        color: #46279b;
        
    }


.main_container{
    /* background: red; */
    width: 60vw;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 11px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 31px -4px rgba(0,0,0,0.75);
    border-radius: 20px;

}
    .welcome_container{
        background:#46279b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px;
        overflow: hidden;
        width: 30vw;
        height: 100%;
        min-width: 300px;

    }
    .welcome_container>h2{
        font-size: var(--h2-font-size);
        margin-top: 5%;
        color: #fff;
        text-align: center;
    }

    .welcome_container>p{
        color: #fff;
        text-align: justify;
        padding: 30px;
        font-size: var(--p-font-size);

    }

    .welcome_container>img{
        width: 15%;
        align-self: flex-start;
    }

.register{
    width: 50%;
    height: 100%;
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--color-verde);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30vw;
    height: 100%;
    min-width: 300px;
    padding: 20px;
}

    .form_container>.form_register{
        /* background: yellow; */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 20px; */
        gap: 1px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
    
    .form_register>h3{
        font-size: var(--p-font-size);
        color: gray;
        font-weight: 300;
        width: 100%;
        padding: 0 20px;
        /* background: red; */
    }

    .form_register>input{
        width: 90%;
        border-radius: 10px;
        height: 35px;
        border: none;
        padding-left: 15px;
        color: rgb(83, 83, 83);
        font-size: calc(var(--p-font-size) - 2px);
        border-bottom: 1px solid var(--color-verde);
        margin-bottom: 20px;
        outline: none;
        transition: 0.07s ease;
        border-bottom: 1px solid gainsboro;
    }

    .form_register>button{
        width: 90%;
        margin-top: 40px;
        border-radius: var(--border-radious-btn);
        border: none;
        height: var(--heigth-button-1);
        color: #fff;
        background:#46279b;
        font-size: calc(var(--p-font-size) - 2px);
        cursor: pointer;
        transition: 0.5s ease;
        box-shadow: inset 0 0 0 0#7960bd;
        
    }
        .form_register>button:hover{
            box-shadow: inset 30vw 0 0 0 #7960bd;
        }
    
    .form_register>.link{
        margin-top: 20px;
        font-size: calc(var(--p-font-size) - 4px); 
        color: #7960bd;
    }


