
:root{
    --color-verde:#006E8C;
    --color-morado:#6334E3;
    --color-morado-oscuro:#46279b;
    --h1-font-size: 50px;
    --h2-font-size: 42px;
    --h3-font-size:18px;
    --p-font-size:16px;
    --font-family:"poppins";
    --color-ligth-gray:#789395;
    --heigth-button-1:35px
}


.page_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: var(--font-family);
    
}

    .page_container>h1{
        /* background-color: red; */
        font-size: var(--h1-font-size);
        color: var(--color-verde);
        
    }


.main_container{
    /* background: red; */
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 10px 11px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 31px -4px rgba(0,0,0,0.75);
    border-radius: 20px;

}
    .welcome_container{
        background: var(--color-morado);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        gap: 15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px;
        overflow: hidden;

    }
    .welcome_container>h2{
        font-size: var(--h2-font-size);
        margin-top: 15%;
        color: #fff;
        text-align: center;
    }

    .welcome_container>p{
        color: #fff;
        text-align: justify;
        padding: 30px;
        font-size: var(--p-font-size);

    }

    .welcome_container>img{
        width: 25%;
        align-self: flex-start;
    }

.register{
    width: 50%;
}

.form_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-verde);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

    .form_container>.form_register{
        /* background: yellow; */
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        padding-left: 30px;
        gap: 2%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
    
    .form_register>h3{
        font-size: var(--h3-font-size);
        color: var(--color-ligth-gray);
        font-weight: 300;
        /* background: red; */
    }

    .form_register>input{
        width: 90%;
        border-radius: 10px;
        height: 35px;
        border: none;
        padding-left: 15px;
        color: var(--color-ligth-gray);
        font-size: var(--h3-font-size);
        border-bottom: 1px solid var(--color-verde);
        margin-bottom: 20px;
        outline: none;
        transition: 0.07s ease;
    }
        .form_register>input:focus{
            border-bottom: 3px solid;
        }

    .form_register>button{
        width: 90%;
        margin-top: 40px;
        border-radius: 10px;
        border: none;
        height: var(--heigth-button-1);
        color: #fff;
        background: var(--color-morado);
        font-size: var(--h3-font-size);
        cursor: pointer;
        transition: 0.3s ease;
        
    }
        .form_register>button:hover{
            background-color: var(--color-morado-oscuro);
            transform: translateY(-3px);
            
        }
    
    .form_login>.link{
        margin-top: 20px;
        color: var(--color-morado);

    }


