@import url("Const.css");


.tabla_container{

    background: linear-gradient(45deg, #49a09d, #5f2c82);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: 100vh;
}

.tabla_container>h2{
    text-align: center;
    color: #fff;
    font-size: var(--h2-font-size);
    margin-bottom: 45px;
    max-height: 60%;
}

.tabla_container>.container_table{
    /* background: green; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tabla{
    /* background: red; */
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    margin: auto;
    text-align: center;
    
}
th,td{
    font-size: var(--p-font-size);
    font-weight: 100;
    padding: 8px 10px;
	background-color: rgba(255,255,255,0.2);
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
    max-height: 30px;

    

}
th{
    text-align: center;
    background-color: #55608f;
    font-size: var(--p-font-size);
    font-weight: 300;

}

tbody>tr:hover{
    background-color: rgba(255,255,255,0.3);
}

tbody>td{
    position: relative;
}

tbody>tr>td>.btn_editar{
    background: var(--color-verde);
    color: white;
    padding: 5px var(--main-padding);
    border: none;
    font-size: calc(var(--p-font-size) - 3px );
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    
}

tbody>tr>td>.btn_editar:hover{
    background: var(--color-verde-oscuro);
    transform: translateY(-3px);
    
}

tbody>tr>td>.btn_eliminar{
    background: var(--color-eliminar);
    color: white;
    padding: 5px var(--main-padding);
    border: none;
    font-size: calc(var(--p-font-size) - 3px );
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    
}

tbody>tr>td>.btn_eliminar:hover{
    background: var(--color-eliminar-oscuro);
    transform: translateY(-3px);
    
}