@import url("Const.css");

.main_container{
    height: 100vh;
    padding:var(--main-padding);
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}
.main_container>.todo_container{
    height: 108vh;
    width: 85%;
    margin: auto;
    
}

.table_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108vh;
}


    .titulo_listas{ 
        
        color: var(--color-font);
        font-size: var(--h2-font-size);
        margin-bottom: 45px;
        margin-top: 45px;
        text-align: center;
        
    }
    
    .table_container>table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        
        
    }
    
    .table>thead>tr>th{
        background: var(--background);
        border-bottom: 1px solid var(--line-table);
        color: var(--color-font);
        font-weight: bolder;
        font-size: calc(var(--p-font-size) - 2px);
        transition: all 0.3s ease-in-out;
        
    }
    
    .table>thead>tr>th:nth-child(2){
        width: 20%;

    }

    .table>tbody>tr>td:nth-child(2){
        padding: 10px;
        max-height: 80px;
        height: 80px;
    }


.description{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    color: var(--color-font);
    font-size: calc(var(--p-font-size) - 6px);
    padding: 0 5px;
    text-align: justify;
    max-height: 80px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    
}
.select,.fecha{
    font-weight: 500;
}

.body_row{
    max-height: 80px;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    font-weight: bolder;
    color: var(--color-font);
}

/* .body_row:hover{
    background: red !important;
} */

.body_row_complete{
    text-decoration: line-through;
}

.body_row_complete:hover{
    background: rgba(0, 0, 0, 0.12);
}


.body_row:hover{
    background: rgba(0, 0, 0, 0.05);

}

.body_row:last-child{
    margin-bottom: 50px;
}

    .body_row>th,.body_row>td{
        color: var(--color-font);
        font-size: calc(var(--p-font-size) - 6px);
        background: var(--background);
    }
    .body_row>th,.body_row>td:hover{
        background: rgba(102, 102, 102, 0.07);
        
    }

        

        .body_row>th,.body_row>td:first-child{
            font-weight: 800;
        }

    .body_row>td>button{
        background: none;
        height: 80%;
        width: 80px;
        border: none;
    }

    .body_row>td>button>.icono_editar,
    .body_row>td>button>.icono_eliminar{
        height: 60%;
        width: 60%;
        padding: 10px;
        border-radius: 5%;
        transition: 0.3s ease-in-out;
    }

    .body_row>td>button>.icono_editar:hover,
    .body_row>td>button>.icono_eliminar:hover{
        transform: rotate(-45deg)
        
    }

    .body_row>td>.btn_terminado{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: var(--color-ok);
        transition: 0.3s ease-in-out;
    }
    .body_row>td>.btn_terminado:hover{
        transform: rotate(-45deg);
    }

    .body_row>td>.btn_terminado_done{
        border-radius: 50%;
        height: 60px;
        width: 60px;
        color: var(--color-eliminar-todo);
        transition: 0.3s ease-in-out; 
    }

    .body_row>td>.btn_terminado_done:hover{
        transform: rotate(-45deg);
        
    }
    

    .body_row>td>button>.icono_editar{
        color: rgb(53, 145, 135) ;
        border: 2px solid rgb(53, 134, 145);
        background:none;
        border-radius: 50%;
    }

    .body_row>td>button>.icono_editar_block{
        display: none;
        
    }

    .body_row>td>button>.icono_eliminar{
        color: rgb(153, 153, 153);
        border-radius: 50%;
        border:  2px solid rgb(153, 153, 153);
        
    }


.add_new_todo_btn{
    position: fixed;
    /* background: var(--color-morado-oscuro); */
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: var(--color-ok);
    bottom: 35px;
    right: 35px;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.1);
    box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.1);
    /* border: 1px solid #0ff; */
}

.add_new_todo_btn:hover{

    transform: rotate(90deg);
    /* background: var(--color-morado) ; */
}

.btn_container{
    margin-top: 80px;
}
.btn_container::before{
    content: " ";
    color: #fff;
    transition: all 0.9s ease-in-out;

}

.btn_container:hover:before{
    content: "+1";
    position: fixed;
    color: var(--neg-background);
    bottom: 30px;
    right: 25px;
    width: 100px;
    height: 95px;
    /* background: red; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 15px;


}
